/*
 * Main colors
 */

$main-white: #FFF;
$main-black: #000;

/*
 * Widget colors
 */

$widget-gray-light: #F3F3F3;
$widget-gray-lighter: #EFEFEF;
$widget-gray-normal: #D8D8D8;
$widget-gray-dark: #777;
