/*
 * Main colors
 */

$main-white: #fff;
$main-black: #000;

/*
 * Widget colors
 */

$widget-gray-light: #f3f3f3;
$widget-gray-lighter: #efefef;
$widget-gray-normal: #d8d8d8;
$widget-gray-dark: #777;
