/*
 * Main variables
 */

$main-font-family: Tahoma, Verdana, Segoe, sans-serif;

/*
 * Widget variables
 */

$widget-font-size: 12px;
$widget-font-size-normal: $widget-font-size;
$widget-font-size-small: #D8D8D8;
