@import "../../styles/colors";
@import "../../styles/global";

/*
 * Widget variables
 */

$widget-font-size: 12px;
$widget-font-size-normal: $widget-font-size;
$widget-font-size-small: 9px;

$weather-widget-width: 320;

.widget-panel {
  padding: $widget-font-size * 2;
  color: $widget-gray-dark;
  font-size: $widget-font-size;
  box-shadow: 0 8px 60px 0 $widget-gray-normal;
  border-radius: $widget-font-size;
}

.weather-widget {
  width: $weather-widget-width + px;
  text-align: center;

  .content {
    display: flex;
  }

  .days-content {
    min-width: 60px;
    cursor: pointer;

    &.active {
      background-color: $widget-gray-light;
    }

    div {
      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }
  }

  .hours-content {
    min-width: 25px;
    background-color: $widget-gray-light;
    border-right: 1px solid $widget-gray-normal;
    border-left: 1px solid $widget-gray-normal;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .hour {
    font-size: $widget-font-size-small;
  }

  .icon {
    display: block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;

    &.cloudy {
      background-image: url("../../assets/icons/weather/cloudy.png");
    }

    &.rainy {
      background-image: url("../../assets/icons/weather/rainy.png");
    }

    &.snowy {
      background-image: url("../../assets/icons/weather/snowy.png");
    }

    &.sunny {
      background-image: url("../../assets/icons/weather/sunny.png");
    }
  }
}

.bar-chart {
  background-color: $widget-gray-light;

  text {
    text-anchor: middle;
  }

  .bar {
    fill: $widget-gray-normal;
  }

  .labels {
    font-size: $widget-font-size-small;
  }

  .grid {
    line {
      stroke: $widget-gray-lighter;
      stroke-width: 2;
    }
  }
}

@value weatherWidgetWidth #{$weather-widget-width};
